<!-- النشاط الرئيسي -->
    <activity android:name=".MainActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

    <!-- نشاط الأسئلة -->
    <activity android:name=".QuestionActivity" />

    <!-- نشاط النتائج -->
    <activity android:name=".ResultActivity" />
</application>
